<!DOCTYPE html>
<html>
<body>

<h1>My First Heading</h1>
<p>First parsing test : {{ test }} </p>
<p>a==5 : 
    {% if a==5 || <strong> true </strong> ! 
    || elif a==6 or a==4|| almost there.
    || else || <strong> false </strong> ... %}
</p>

<p>a==5 and c>=2 : 
        {% if a==5 and c>=3 || <strong> true </strong> ! 
        || else || 
            Ok no but at least arr[1]>2 : {% if arr[1]>2 || <strong> true </strong> ! 
            || else || <strong> false </strong> 
            %} ... 
        %}
</p>

<p>arr[1]==2 : 
        {% if arr[1]==2 || <strong> true </strong> ! 
        || else || <strong> false </strong> ... %}
</p>

<ul>
    
</ul> 

</body>
</html> 